@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Hairline.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-HairlineObl.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-ThinObl.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-LightObl.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-RegularObl.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-SemiBoldObl.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-BoldObl.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometric";
  src: url("../assets/fonts/HurmeGeometricSans2-BlackObl.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: "HurmeGeometric", system-ui, sans-serif;
}
